@model Sellers.WMS.Domain.CurrencyType

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sellers.WMS.Domain.CurrencyType</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sellers.WMS.Domain.CurrencyType</legend>
    <div class="display-label">主键表</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">货币</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyName)
    </div>

    <div class="display-label">符号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencySign)
    </div>

    <div class="display-label">值</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyValue)
    </div>

    <div class="display-label">是否自动更新</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAutoUpdate)
    </div>

    <div class="display-label">更新时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateOn)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("返回列表", "Index")
    </p>
}


</body>
</html>
