@model Sellers.WMS.Domain.ProductType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.ProductType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.ProductType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">商品编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">商品名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">商品状态</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">类别</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">型号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">品牌</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label">规格</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Standard)
    </div>

    <div class="display-label">商品价格</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">重量</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">长</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Long)
    </div>

    <div class="display-label">宽</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wide)
    </div>

    <div class="display-label">高</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.High)
    </div>

    <div class="display-label">库存天数</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayByStock)
    </div>

    <div class="display-label">简单描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">包装注意事项</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackMemo)
    </div>

    <div class="display-label">是否侵权</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsInfraction)
    </div>

    <div class="display-label">大图片网址</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PicUrl)
    </div>

    <div class="display-label">小图片网址</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPicUrl)
    </div>

    <div class="display-label">采购人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Purchaser)
    </div>

    <div class="display-label">验货人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Examiner)
    </div>

    <div class="display-label">包装人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Packer)
    </div>

    <div class="display-label">包装系数</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackCoefficient)
    </div>

    <div class="display-label">电子</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsElectronic)
    </div>

    <div class="display-label">电池</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasBattery)
    </div>

    <div class="display-label">库位</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">创建时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateOn)
    </div>

    <div class="display-label">创建人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
