@model IEnumerable<Sellers.WMS.Domain.ProductType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        var grid;
        $(function () {
            grid = $('#dg').datagrid({
                url: '@Url.Action("List", "Product")',
                idField: 'Id',
                iconCls: 'icon-view',
                height: 600,
                width: function () { return document.body.clientWidth * 0.9 },
                nowrap: true,
                singleSelect: true,
                animate: true,
                resizable: true,
                pagination: true,
                pageNumber: 1,
                pageSize: 100,
                pageList: [50, 100, 200],
                rownumbers: true,
                columns: [[
                    { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                    { title: '主编号', field: 'TempSKU', width: 100, sortable: true, align: 'center' },
                    { title: '商品编号', field: 'SKU', width: 100, sortable: true, align: 'center' },
                    { title: '商品名称', field: 'Title', width: 100, sortable: true, align: 'center' },
                    { title: '图片', field: 'ImgPath', width: 100, sortable: true, align: 'center', formatter: getSmallImg },
                    { title: '商品状态', field: 'Status', width: 100, sortable: true, align: 'center' },
                    { title: '商品特性', field: 'ProductAttr', width: 100, sortable: true, align: 'center' },
                    { title: '类别', field: 'Category', width: 100, sortable: true, align: 'center' },
                    { title: '型号', field: 'Model', width: 100, sortable: true, align: 'center' },
                    { title: '品牌', field: 'Brand', width: 100, sortable: true, align: 'center' },
                    { title: '规格', field: 'Standard', width: 100, sortable: true, align: 'center' },
                    { title: '商品价格', field: 'Price', width: 100, sortable: true, align: 'center' },
                    { title: '重量', field: 'Weight', width: 100, sortable: true, align: 'center' },
                    { title: '7Day', field: 'Day7', width: 100, sortable: true, align: 'center' },
                    { title: '15Day', field: 'Day15', width: 100, sortable: true, align: 'center' },
                    { title: '30Day', field: 'Day30', width: 100, sortable: true, align: 'center' },
                    { title: '长', field: 'Long', width: 100, sortable: true, align: 'center' },
                    { title: '宽', field: 'Wide', width: 100, sortable: true, align: 'center' },
                    { title: '高', field: 'High', width: 100, sortable: true, align: 'center' },
                    { title: '库存天数', field: 'DayByStock', width: 100, sortable: true, align: 'center' }
                ]],
                toolbar: '#toolbar',
                rowStyler: function (index, row, css) {
                    if (row.Id != "") {
                        return 'font-weight:bold;';
                    }
                },
                onLoadSuccess: function (data) {
                    if (data.rows.length > 0) {
                        $('#dg').datagrid("selectRow", 0);
                    }
                }
            });
            $('#txtCategory').combotree({
                url: '/ProductCategory/ALLTreeList',
                valueField: 'FullName',
                textField: 'FullName',
                required: true,
                width: 150
            });

            $('#txtProductAttr').combobox({
                url: '@Url.Action("GetOptions", "DataDictionaryDetail")/ProductAttr',
                valueField: 'DicValue',
                textField: 'FullName',
                panelHeight: 'auto'
            });

            $('#txtStatus').combobox({
                url: '@Url.Action("GetOptions", "DataDictionaryDetail")/ProductState',
                valueField: 'DicValue',
                textField: 'FullName',
                panelHeight: 'auto'
            });

            $('#txtBrand').combobox({
                url: '@Url.Action("GetOptions", "DataDictionaryDetail")/Brand',
                valueField: 'DicValue',
                textField: 'FullName',
                panelHeight: 'auto'
            });
        });

        function addClick() {
            openTab("官品管理-添加商品", '@Url.Action("Create", "Product")', true);

        }

        //编辑框
        function editClick() {
            var id = getselectedRow(grid);
            if (id) {
                parent.$.modalDialog({
                    title: '编辑数据',
                    width: 650,
                    height: 300,
                    href: '@Url.Action("Edit", "Product")/' + id,
                    buttons: [{
                        text: '修改',
                        handler: function () {
                            parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                            var f = parent.$.modalDialog.handler.find('#form');
                            f.submit();
                        }
                    }]
                });
            }
        }

        function doSearch() {
            var search = "";
            
            if ($('#txtTempSKU').val().length != 0)
                search += 'TempSKU&' + $('#txtTempSKU').val() + '^';
            if ($('#txtSKU').val().length != 0)
                search += 'SKU&' + $('#txtSKU').val() + '^';
            if ($('#txtTitle').val().length != 0)
                search += 'Title&' + $('#txtTitle').val() + '^';
            if ($('#txtStatus').combobox("getValue").length != 0)
                search += 'Status&' + $('#txtStatus').combobox("getValue") + '^';
            if ($('#txtProductAttr').combobox("getValue").length != 0)
                search += 'ProductAttr&' + $('#txtProductAttr').combobox("getValue") + '^';
       
            if ($('#txtCategory').combotree("getValue").length != 0)
                search += 'Category&' + $('#txtCategory').combotree("getValue") + '^';
            if ($('#txtModel').val().length != 0)
                search += 'Model&' + $('#txtModel').val() + '^';
            if ($('#txtBrand').combobox("getValue").length != 0)
                search += 'Brand&' + $('#txtBrand').combobox("getValue") + '^';
            if ($('#txtStandard').val().length != 0)
                search += 'Standard&' + $('#txtStandard').val() + '^';
            if ($('#txtPrice1').val().length != 0)
                search += 'Price_si&' + $('#txtPrice1').val() + '^';
            if ($('#txtPrice2').val().length != 0)
                search += 'Price_ei&' + $('#txtPrice2').val() + '^';
            if ($('#txtWeight1').val().length != 0)
                search += 'Weight_si&' + $('#txtWeight1').val() + '^';
            if ($('#txtWeight2').val().length != 0)
                search += 'Weight_ei&' + $('#txtWeight2').val() + '^';
            
           
          

            grid.datagrid("load", {
                search: search
            });
        }
</script>
    <div region="center">
        <fieldset>
            <legend>数据查询</legend>
            <table border="0">
                <tr>

                    <td class="z-searchlable">主编号:</td>
                    <td><input type='text' id='txtTempSKU' /></td>
                    <td class="z-searchlable">商品编号:</td>
                    <td><input type='text' id='txtSKU' /></td>
                    <td class="z-searchlable">商品名称:</td>
                    <td><input type='text' id='txtTitle' /></td>
                    <td class="z-searchlable">商品状态:</td>
                    <td><input type='text' id='txtStatus' /></td>

                </tr>
                <tr>
                    <td class="z-searchlable">商品特性:</td>
                    <td>
                        <input type='text' id='txtProductAttr' /></td>
                    <td class="z-searchlable">类别:</td>
                    <td>
                        <input type='text' id='txtCategory' /></td>
                    <td class="z-searchlable">型号:</td>
                    <td>
                        <input type='text' id='txtModel' /></td>
                <td class="z-searchlable">品牌:</td>
                    <td>
                        <input type='text' id='txtBrand' /></td>
                </tr>
                <tr>
                   
                    <td class="z-searchlable">规格:</td>
                    <td>
                        <input type='text' id='txtStandard' /></td>
                    <td class="z-searchlable">商品价格:</td>
                    <td>
                        <input type='text' id='txtPrice1' class="z-betweenNum" /> 至 <input type='text' id='txtPrice2' class="z-betweenNum" /></td>
                    <td class="z-searchlable">重量:</td>
                    <td colspan="3">
                        <input type='text' id='txtWeight1' class="z-betweenNum" /> 至 <input type='text' id='txtWeight2' class="z-betweenNum" /><a href='#' class='easyui-linkbutton z-searchbtn'  iconcls='icon-search' onclick='doSearch();'>查询</a></td>

                </tr>



            </table>
        </fieldset>
        <div id="toolbar">
            @Html.Raw(ViewData["toolbarButtons"])
        </div>
        <table id="dg">
        </table>
        <div id="dropdown" style="width: 200px; display: none;">
            <div data-options="iconCls:'icon-ext-xls'" data-bind="click: downloadClick1">Excel2003表格所有页</div>
            <div data-options="iconCls:'icon-ext-xls'" data-bind="click: downloadClick2">Excel2003表格指定页</div>
            <div data-options="iconCls:'icon-ext-rar'" data-bind="click: downloadClick3">Excel2003压缩zip</div>
            <div data-options="iconCls:'icon-page_excel'" data-bind="click: downloadClick4">Excel2007/2010</div>
            <div data-options="iconCls:'icon-ext-pdf'" data-bind="click: downloadClick5">PDF</div>
            <div data-options="iconCls:'icon-ext-doc'" data-bind="click: downloadClick6">Word</div>
        </div>
    </div>
</body>
