@model Sellers.WMS.Domain.RoleType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.RoleType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.RoleType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">角色编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">角色名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Realname)
    </div>

    <div class="display-label">排序码</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortCode)
    </div>

    <div class="display-label">描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
