
@model IEnumerable<Sellers.WMS.Domain.OrganizeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    var grid;
    $(function () {
        grid = $('#dg').treegrid({
            url: '@Url.Action("ALLList", "Organize")',
            idField: 'Id',
            treeField: 'ShortName',
            iconCls: 'icon-view',
            
            width: function () { return document.body.clientWidth * 0.9 },
            nowrap: true,
            singleSelect: true,
            animate: true,
            resizable: true,
            height: 650,
            fitColumns: true,
            columns: [[
                { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                { title: '父级主键', field: 'ParentId', width: 100, sortable: true,  hidden: true },
                 { title: '名称', field: 'ShortName', width: 200, sortable: true },
                { title: '名称', field: 'FullName', width: 300, sortable: true },
                { title: '编号', field: 'Code', width: 100, sortable: true, align: 'center' },
                { title: '排序码', field: 'SortCode', width: 100, sortable: true, align: 'center' },
                { title: '备注', field: 'Description', width: 200, sortable: true, align: 'center' }

            ]]
                ,
            toolbar: '#toolbar',
            onLoadSuccess: function (data) {
                if (data.rows.length > 0) {
                    $('#dg').datagrid("selectRow", 0);
                }
            }
        })
    });

    function addClick() {
        parent.$.modalDialog({
            title: '添加数据',
            width: 650,
            height: 350,
            href: '@Url.Action("Create", "Organize")',
            buttons: [{
                text: '添加',
                handler: function () {
                    parent.$.modalDialog.openner_treeGrid = grid;//将grid绑定到公共变量中
                    var f = parent.$.modalDialog.handler.find('#form');
                    f.submit();
                }
            }]
        });
    }

    //编辑框
    function editClick() {
        var id = getselectedRow(grid);
        if (id) {
            parent.$.modalDialog({
                title: '编辑数据',
                width: 650,
                height: 350,
                href: '@Url.Action("Edit", "Organize")/' + id,
                    buttons: [{
                        text: '修改',
                        handler: function () {
                            parent.$.modalDialog.openner_treeGrid = grid;//将grid绑定到公共变量中
                            var f = parent.$.modalDialog.handler.find('#form');
                            f.submit();
                        }
                    }]
                });
            }
        }
        function delClick() {
            del(grid, '@Url.Action("Delete", "Organize")', 'tg');
        }



</script>
<div region="center">
	
		<div id="toolbar">
			@Html.Raw(ViewData["toolbarButtons"])
        </div> 
        <table id="dg">
        </table>
		<div id="dropdown" style="width:200px; display:none;">  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click: downloadClick1">Excel2003表格所有页</div>  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click: downloadClick2">Excel2003表格指定页</div> 
			<div data-options="iconCls:'icon-ext-rar'"      data-bind="click: downloadClick3">Excel2003压缩zip</div>  
			<div data-options="iconCls:'icon-page_excel'"   data-bind="click: downloadClick4">Excel2007/2010</div>  
			<div data-options="iconCls:'icon-ext-pdf'"      data-bind="click: downloadClick5">PDF</div>  
			<div data-options="iconCls:'icon-ext-doc'"      data-bind="click: downloadClick6">Word</div>   
		</div>
</div>
</body>
