@model Sellers.WMS.Domain.OrderType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.OrderType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.OrderType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">订单编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNo)
    </div>

    <div class="display-label">外部编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderExNo)
    </div>

    <div class="display-label">订单状态</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">是否打印</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPrint)
    </div>

    <div class="display-label">合并订单</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMerger)
    </div>

    <div class="display-label">拆分订单</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSplit)
    </div>

    <div class="display-label">缺货订单</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOutOfStock)
    </div>

    <div class="display-label">重发订单</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRepeat)
    </div>

    <div class="display-label">货币</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyCode)
    </div>

    <div class="display-label">总金额</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">流水交易号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TId)
    </div>

    <div class="display-label">买家</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyerName)
    </div>

    <div class="display-label">买家邮箱</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyerEmail)
    </div>

    <div class="display-label">买家Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyerId)
    </div>

    <div class="display-label">买家留言</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyerMemo)
    </div>

    <div class="display-label">商家留言</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SellerMemo)
    </div>

    <div class="display-label">发货方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogisticMode)
    </div>

    <div class="display-label">国家</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">地址Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressId)
    </div>

    <div class="display-label">重量</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">生成时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenerateOn)
    </div>

    <div class="display-label">账户</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>

    <div class="display-label">平台</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Platform)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
