@model Sellers.WMS.Domain.AccountType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
		//parent.$.messager.progress('close');

        $('#form').form({
            url: '@Url.Action("Edit", "Account")',
            onSubmit: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success: function (result) {
                parent.$.messager.progress('close');
                result = $.parseJSON(result);
                if (result.IsSuccess) {
                    //parent.$.modalDialog.openner_treeGrid.treegrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_treeGrid这个对象，是因为resource.jsp页面预定义好了
                    //parent.layout_west_tree.tree('reload');
                    parent.$.modalDialog.penner_grid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                }
                else {
                    alert(result.Result);
                }
            }
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
        {
            <table class="grid">
                <tr>
                    <td align="right">主键：</td>
                    <td align="left"><input  type='text' name='Id' id='Id' value='@Model.Id' ></input></td>
                    <td align="right">账户名称：</td>
                    <td align="left"><input  type='text' name='AccountName' id='AccountName' value='@Model.AccountName' ></input></td>
                </tr>
                <tr>
                    <td align="right">平台网址：</td>
                    <td align="left"><input  type='text' name='AccountUrl' id='AccountUrl' value='@Model.AccountUrl' ></input></td>
                    <td align="right">APIKey：</td>
                    <td align="left"><input  type='text' name='ApiKey' id='ApiKey' value='@Model.ApiKey' ></input></td>
                </tr>
                <tr>
                    <td align="right">API密钥：</td>
                    <td align="left"><input  type='text' name='ApiSecret' id='ApiSecret' value='@Model.ApiSecret' ></input></td>
                    <td align="right">API会话：</td>
                    <td align="left"><input  type='text' name='ApiToken' id='ApiToken' value='@Model.ApiToken' ></input></td>
                </tr>
                <tr>
                    <td align="right">平台：</td>
                    <td align="left"><input  type='text' name='Platform' id='Platform' value='@Model.Platform' ></input></td>
                    <td align="right">状态：</td>
                    <td align="left"><input  type='text' name='Status' id='Status' value='@Model.Status' ></input></td>
                </tr>
                <tr>
                    <td align="right">描述：</td>
                    <td align="left"><input  type='text' name='Description' id='Description' value='@Model.Description' ></input></td>
                    <td align="right">负责人：</td>
                    <td align="left"><input  type='text' name='Manager' id='Manager' value='@Model.Manager' ></input></td>
                </tr>

			</table>
        }
    </div>
</div>
