@model Sellers.WMS.Domain.PermissionType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.PermissionType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.PermissionType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">资料类别（主体）</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResourceCategory)
    </div>

    <div class="display-label">资源主键（主体）</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResourceId)
    </div>

    <div class="display-label">操作权限主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PermissionId)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
