@model Sellers.WMS.Domain.sysConfigType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.sysConfigType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.sysConfigType</legend>
    <div class="display-label">ID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">Key</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Key)
    </div>

    <div class="display-label">Value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
