@model Sellers.WMS.Domain.ProductSKUType

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sellers.WMS.Domain.ProductSKUType</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sellers.WMS.Domain.ProductSKUType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">父编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentSKU)
    </div>

    <div class="display-label">子编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">标题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">价格</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">规格</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Memo)
    </div>

    <div class="display-label">数量</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">库存天数</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayOfStock)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("返回列表", "Index")
    </p>
}


</body>
</html>
