@model Sellers.WMS.Domain.PrintTemplateType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sellers.WMS.Domain.PrintTemplateType</title>
</head>
<body>
<fieldset>
    <legend>Sellers.WMS.Domain.PrintTemplateType</legend>
    <div class="display-label">主键标识</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">模板代码</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">模板名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempName)
    </div>

    <div class="display-label">模板分类</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempType)
    </div>

    <div class="display-label">模板内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
