@model Sellers.WMS.Domain.ProductPriceRecrodType

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sellers.WMS.Domain.ProductPriceRecrodType</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sellers.WMS.Domain.ProductPriceRecrodType</legend>
    <div class="display-label">Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">SKU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">OldSKU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OldSKU)
    </div>

    <div class="display-label">N</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("返回列表", "Index")
    </p>
}


</body>
</html>
